* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #D5E1EF;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content #qrCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #FFFFFF;
}

.content #qrCode img {
    width: 90%;
    padding-top: 20px;
}

.content #qrCode .card-caption {
    text-align: center;
}
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}